USE [master]
GO
/****** Object:  Database [PED]    Script Date: 24/03/2021 18:07:26 ******/
CREATE DATABASE [PED]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PED', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.LAPTOP\MSSQL\DATA\PED.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PED_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.LAPTOP\MSSQL\DATA\PED_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PED].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PED]
GO
/****** Object:  Table [dbo].[Mesas]    Script Date: 24/03/2021 18:07:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mesas](
	[IdMesa] [int] IDENTITY(1,1) NOT NULL,
	[NomCliente] [varchar](50) NOT NULL,
	[CantPersonas] [int] NOT NULL,
	[Estado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMesa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
